// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#entersite{
    // display: none; /* turn on to activate  */
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    font-family: Helvetica;
    letter-spacing: 1px;
    font-size: 11pt;
    color: #ffffff;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.2);
    width: 50%;
    margin: 0 auto;
  }



.navbar{
    margin-bottom: 0px;
    background-color: #0C1638
}

#post_text{

}



#enter-button {
    color: #FFF;
    font-size: 24px;
    display: block;
    padding: 12px;
    text-align: center;
}


.box{
      height: 200px;
      width: 400px;
      padding: 20px;
      background: rgba(0,0,0,1.2);
      //opacity: 0.2;
      position: absolute;
      top: 400px;
      left: 200;
      border: 3px solid #6E8993;
      font-size: 20px;

      /* outer shadows  (note the rgba is red, green, blue, alpha) */
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

      /* rounded corners */
      -webkit-border-radius: 12px;
      -moz-border-radius: 7px;
      border-radius: 7px;
}



  .box:hover {
    opacity: 0.4;
  }


  .message{
    width: 200px;
    min-height: 100px;
    position: absolute;
    color: #CCCCCC;
    padding: 4px;
    font-size: 10pt;
    background-color: rgba(1,1,1,0.5);
    border: 2px solid gray
  }
