// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#entersite{
    // display: none; /* turn on to activate  */
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    font-family: Helvetica;
    letter-spacing: 1px;
    font-size: 11pt;
    color: #ffffff;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.2);
    width: 40%;
    margin: 0 auto;

  }

  #pulse-button{
      position: absolute;
      top: 300px;
      left: 0;
      border-radius: 30px;
      background-color: #DB7093;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      opacity: 0.4;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }


.navbar{
      margin-bottom: 0px;
      background-color: #0C1638
}

#post_text{

      height:127px;
      width:364px;
      background-color: black;
      border: none;
      border-style: none;
      color:white;
      outline: none;

}



#enter-button {
      color: #FFF;
      font-size: 24px;
      display: block;
      padding: 12px;
      text-align: center;
  }


.box{

      display: none; /* turn on to activate  */
      height: 200px;
      width: 400px;
      padding: 20px;
      background: rgba(0,0,0,1.2);
      //opacity: 0.2;
      position: absolute;
      top: 600px;
      left: 35%;
      margin: 0 auto;
      border: 3px solid #6E8993;
      font-size: 20px;

      /* outer shadows  (note the rgba is red, green, blue, alpha) */
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

      /* rounded corners */
      -webkit-border-radius: 12px;
      -moz-border-radius: 7px;
      border-radius: 7px;
}

.box:hover {
      opacity: 0.4;
}

  .message{
        width: 200px;
        min-height: 80px;
        position: absolute;
        color: #CCCCCC;
        padding: 4px;
        font-size: 10pt;
        background-color: rgba(1,1,1,0.5);
        border: 2px solid gray;
        border-radius: 20px;
  }
