// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #FFF8DC;
}


h2{
  font-family:sans-serif;
  font-size: 20px;
}


.bubble {
  background-color:blue;
  opacity: 0.2;
  position: absolute;
  border: 2px solid blue;
  border-radius: 100%;
}
