
  <div id="entersite">

  <p>Spread the world with happiness and positivity. Connect with others through this space of imagination. Look at other people’s happy messages from around the world by clicking on the glowing particles. Be part of a growing community by adding messages to generate more happy particles and watch new particles being created and floating away...

  <p>Srcoll with your mouse to zoom in and out. Click and drag to move.</p>

  <p>Sign in to make this app your little journal of happiness.I hope your coming years are filled with magic, dreams and good madness. </p>
</br>
</br>
</br>
  <span id="pressme">Enter Site </span>

  </div>

  <button id="pulse-button">Click me</button>


<div class = "box" >
  <%= form_for :post, url: posts_path, :id =>"enterpost" do |f| %>
  <%= f.text_area :description , :id => "post_text",  :required => true, placeholder: "What makes you happy today?"%></br>
  <%= f.button "Send", :id =>"enterbutton", type: "button" %>
  <% end  %>
</div>


<div id="stats"  ></div>
 <div id="output"  > </div>
